<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2016</key>
	<dict>
		<key>workday</key>
		<array>
			<string>0206</string>
			<string>0214</string>
			<string>0612</string>
			<string>0918</string>
			<string>1008</string>
			<string>1009</string>
		</array>
		<key>vocation</key>
		<array>
			<string>0101</string>
			<string>0102</string>
			<string>0103</string>
			<string>0207</string>
			<string>0208</string>
			<string>0209</string>
			<string>0210</string>
			<string>0211</string>
			<string>0212</string>
			<string>0213</string>
			<string>0402</string>
			<string>0403</string>
			<string>0404</string>
			<string>0430</string>
			<string>0501</string>
			<string>0502</string>
			<string>0609</string>
			<string>0610</string>
			<string>0611</string>
			<string>0915</string>
			<string>0916</string>
			<string>0917</string>
			<string>1001</string>
			<string>1002</string>
			<string>1003</string>
			<string>1004</string>
			<string>1005</string>
			<string>1006</string>
			<string>1007</string>
		</array>
	</dict>
	<key>2017</key>
	<dict>
		<key>workday</key>
		<array>
			<string>0203</string>
			<string>0204</string>
			<string>1008</string>
		</array>
		<key>vocation</key>
		<array>
			<string>0101</string>
			<string>0102</string>
			<string>0103</string>
			<string>0127</string>
			<string>0128</string>
			<string>0129</string>
			<string>0130</string>
			<string>0131</string>
			<string>0201</string>
			<string>0202</string>
			<string>0403</string>
			<string>0404</string>
			<string>0405</string>
			<string>0501</string>
			<string>0502</string>
			<string>0503</string>
			<string>0528</string>
			<string>0529</string>
			<string>0530</string>
			<string>1001</string>
			<string>1002</string>
			<string>1003</string>
			<string>1004</string>
			<string>1005</string>
			<string>1006</string>
			<string>1007</string>
			<string>1005</string>
			<string>1006</string>
			<string>1007</string>
		</array>
	</dict>
</dict>
</plist>
